---
layout: page
---

<P> Hi! <p>
<p>Currently I am a software developer at Microsoft and am pursuing an online masters at Georgia tech.
I completed my B.Tech in computer science from Indian Institute of Technology, Mandi and was the president's gold medal recipient and department topper from my college. <p>

<p>I have successfully completed research projects in deep learning, reinforcement learning and software development projects with organizations like Microsoft, Siemens, Linux Foundation besides doing other handful interesting projects.
At Microsoft, i have worked on complex problems including development of products, services, large scale projects and high severity security escalations. <p>

<p>Currently I am focused on learning deeply about software development and security.<p>

<p>You can know more about my work from my <a href="https://www.linkedin.com/in/akash-sharma-4b9375140/">linkedin profile</a><p>