---
layout: page
---

<p>I am current working as a software engineer at Microsoft. I completed my B.Tech in computer science from Indian Institute of Technology, Mandi and was the president's gold medal recipient and department topper from my college. I've also done my master's in computer science from Georgia Tech alongside work.<p>

<p>I have the experience of working on large scale systems and also research projects in deep learning & reinforcement learning with organizations like Microsoft, Siemens and Linux Foundation.

<p>Currently I am focused on learning deeply about large scale systems and security.<p>

<p>You can know more about my work from my <a href="https://www.linkedin.com/in/akash-sharma-4b9375140/">linkedin profile</a><p>

<p>The views shared on this blog are personal.</p>